<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultTheme</key>
	<string>01</string>
	<key>defaultImageBasePath</key>
	<string></string>
	<key>themes</key>
	<array>
		<dict>
			<key>themeID</key>
			<string>01</string>
			<key>themeVersion</key>
			<integer>4</integer>
			<key>themeName</key>
			<string>1</string>
			<key>themeImageBasePath</key>
			<string></string>
			<key>skinFilePathArr</key>
			<array>
				<string>@(MAINBUNDLE)/skinfile0.plist</string>
			</array>
		</dict>
		<dict>
			<key>themeID</key>
			<string>02</string>
			<key>themeVersion</key>
			<integer>4</integer>
			<key>themeName</key>
			<string>2</string>
			<key>themeImageBasePath</key>
			<string></string>
			<key>skinFilePathArr</key>
			<array>
				<string>@(MAINBUNDLE)/skinfile1.plist</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
